@using VirtualWallet.Common.Extensions
@model VirtualWallet.Model.Domain.MonthlySpending

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Title</h1>
@{
    <div style="align-content:center; text-align:center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <div style="float:left">
                <h3>
                    @Html.ActionLink("Poprzedni miesiąc", "Next", "MonthlySpending",
                   new { currentMonthlySpendingDate = Model.CreationDate, forward = false }, new { @class = "badge badge-pill badge-info" })
                </h3>
            </div>
            <input id="date-picker" class="form-control" style="margin: 0px 10px 0px 10px; max-width: 150px" value="@Model.CreationDate?.ToString("MMMM yyyy")" />
            <div>
                <h3>
                    @Html.ActionLink("Następny miesiąc", "Next", "MonthlySpending",
                   new { currentMonthlySpendingDate = Model.CreationDate, forward = true }, new { @class = "badge badge-pill badge-info" })
                </h3>
            </div>
        </div>
    </div>

    if (Model.Spendings.IsNotNullOrEmpty())
    {
        <div>
            <div class="card" style="width: 18rem; float: left">
                <div class="card-header">
                    Podsumowanie
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Budżet: &nbsp; <strong>@Model.Budget zł</strong></li>
                    <li class="list-group-item">Suma wydatków: &nbsp; <strong>@Model.SpendingSummary zł</strong></li>
                    <li class="list-group-item">Z poprzedniego miesiąca: &nbsp; <strong>@Model.PreviousMonthlySpendingSummaryBilance zł</strong></li>
                    <li class="list-group-item">Bilans końcowy: &nbsp; <strong>@Model.SummaryBilance zł</strong></li>
                </ul>
            </div>
        </div>
        <div style="margin-left: 300px; margin-top: 10px">
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                    Link with href
                </a>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Button with data-target
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>
            <div style="clear:both"></div>
        </div>

        <br />
        @Html.ActionLink("Nowy wydatek", "Create", "Spending", new { month = Model.Month, year = Model.Year }, new { @class = "btn btn-primary" })
        <br />
        <br />
        @Html.Partial("_Spendings", Model.Spendings);
    }
    else
    {
        <br />
        @Html.ActionLink("Nowy wydatek", "Create", "Spending", new { month = Model.Month, year = Model.Year }, new { @class = "btn btn-primary" })
        <h2>Brak wydatków na ten miesiąc</h2>
    }
}

@section Scripts
{
    <script>
        $(function () {
            $('#date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    var date = new Date(year, month, 1);
                    $(this).datepicker('setDate', date);
                    var link = '/MonthlySpending/Pick?month=' + (date.getMonth() + 1) + '&year=' + date.getFullYear();
                    window.location.href = link;
                }
            });
        });
    </script>
}

@section Styles
{
    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>
}
