@using VirtualWallet.Common.Extensions 
@model IEnumerable<VirtualWallet.Model.Domain.SpendingGroup>

@{
    ViewData["Title"] = "Index";
}

<h1>Wybierz grupę wydatków</h1>

<p>
    <a asp-action="Create">Nowy</a>
</p>

@{
    if (Model.IsNotNullOrEmpty())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Budget)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Budget)
                        </td>
                        <td>
                            @Html.ActionLink("Edytuj", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Szczegóły", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Usuń", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                        <td>
                            <strong>@Html.ActionLink("Wybierz", "Pick", "SpendingGroup", new { spendingGroupId = item.Id }, new { @class = "btn btn-primary" })</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h2>Brak danych</h2>
    }
}